<div id="<%= dom_id post %>">
  <h4 style="text-align:center">
    <%= post.title%>
  </h4>

  <p style="">
    <em>
    By <%= post.name %>
    </em>
  </p>
  <hr>
  <p>
    <%= post.body %>
  </p>

</div>
