<h1 style="text-align:center;margin-top: 20px;margin-bottom:10px">Edit Post</h1>

<%= render "form", post: @post %>

<br>

<div style="text-align:right">
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
