<p style="color: green"><%= notice %></p>

<h1 style="text-align:center;margin-top: 20px;margin-bottom:10px">Posts</h1>

<%= link_to "New post", new_post_path, class: 'btn btn-primary', style:"margin:10px" %>

<div id="posts" style="display:grid;grid-template:1fr/1fr 1fr;gap:10px">
  <% @posts.each do |post| %>
    <div class="h-100 p-5 bg-light border rounded-3">
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    </div>
  <% end %>
</div>
