<h1 style="text-align:center;margin-top: 20px;margin-bottom:10px">New post</h1>

<%= render "form", post: @post %>

<hr>

<div style="text-align:right">
  <%= link_to " < Back to posts", posts_path%>
</div>
